{
  "totalCount": "1",
  "imdata": [
    {
      "rtctrlSubjP": {
        "attributes": {
          "annotation": "",
          "descr": "",
          "dn": "uni/tn-{{items.tenant}}/subj-{{items.name}}",
          "name": "{{items.name}}",
          "nameAlias": ""
        },
        "children": [
          {
            "rtctrlMatchRtDest": {
              "attributes": {
                "aggregate": "{{items.aggregate}}",
                "annotation": "",
                "descr": "",
                "ip": "{{items.subnet}}",
                "name": "",
                "nameAlias": ""
              }
            }
          }
        ]
      }
    }
  ]
}