{
  "totalCount": "1",
  "imdata": [
    {
      "fvRsPathAtt": {
        "attributes": {
          "annotation": "",
          "descr": "",
          "dn": "uni/tn-{{items.tenant}}/ap-{{items.app_profile}}/epg-{{items.name}}/rspathAtt-[topology/pod-1/protpaths-{{items.left_node_id}}-{{items.right_node_id}}/pathep-[{{items.interface_policy_group}}]]",
          "encap": "vlan-{{items.encap_vlan_id}}",
          "instrImedcy": "lazy",
          "mode": "regular",
          "primaryEncap": "unknown",
          "tDn": "topology/pod-1/protpaths-{{items.left_node_id}}-{{items.right_node_id}}/pathep-[{{items.interface_policy_group}}]"
        }
      }
    }
  ]
}