{
  "totalCount": "1",
  "imdata": [
    {
      "fvTenant": {
        "attributes": {
          "annotation": "",
          "descr": "{{items.description}}",
          "dn": "uni/tn-{{items.name}}",
          "name": "{{items.name}}",
          "nameAlias": "",
          "ownerKey": "",
          "ownerTag": ""
        }
      }
    }
  ]
}